.column-header {
    background-color: #ddd;
    font-weight: bold;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
}

.task {
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: 8px;
    padding: 8px;
    border-radius: 3px;
    height: auto;
    width: auto;
}

.id,
.status,
.priority {
    display: flex;
    justify-content: space-between
}

.taskId,
.taskStatus,
.taskPriority {
    color: rgb(118, 88, 237);
}

.low {
    color: rgb(76, 220, 129);
}

.medium {
    color: rgb(4, 96, 244);
}

.high {
    color: rgb(255, 0, 0);
}